*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    font-size: 32px;
    width: 100vw;
}
ul{
    display: flex;
    color: aliceblue;
    justify-content: space-between;
    width: 100%;
}

header{
    height: 100px;
    display: flex;
    background-color: #222D6F;
    align-items: center;
    justify-content: space-between;
}

header div{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.lupa{
    height: 50px;
    width: 50px;
}

.carrinho{
    width: 50px;
    height: auto; 
    right: 60px;
}

.titulo{
    font-size: 80px;
}

.titulo span{
text-align: center;
font-size: bold;
}

.simobolodaNIKE{
    width: 80px;
    height: 80px;
}

.title .nikegrande h1{
    color: #222D6F;
    font-size: 1000px;
    text-align: center; 
    justify-content: center;
}

main{
    height: 1000px;
    width: 1700px;
    background-color: #212d6f;
    font-size: 250px;
    color: #031266; 
}


.linha-simples {
    border: none; 
    height: 1px; 
    background-color: #ccc; 
    margin: 20px 0; 
}

h1 {
    top: 30%;
    position: absolute;
    right: 10%;
    text-align: left; 
}

h2 {
    top: 30%;
    position: absolute;
    right: 80%;
    font-size: 98px;
    margin-left: 90px;
    color: aliceblue;
}

h3{
    color: black;
    font-size: 10px;
    position: relative;
    top: -10px
}

.valor{
    background-color: black;
    font-size: 10px;  
    position: relative;
    top: -10px

}


p{
    top: 30%;
    position: absolute;
    right: 80%;
    font-size: 20px;
    margin-left: 90px;
    color: aliceblue; 
    padding-top: 350px
}

.quadrado{
    background-color: white;
    height: 90px;
    width: 150px;
    position: relative; 
    top: -5120px; 
    margin-left: 120px
}





body, html {
    height: 100%; 
    margin: 0; 
}

body, html {
    height: 100%;
    margin: 0; 
}

.grid-container {
    display: grid; 
    place-items: center; 
    height: 100vh; 
}

